In [6]:
# Import Libraries
import pandas as pd

In [10]:
# Import Training Files
demand_price=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\train\\demand_price.csv')
delivery=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\train\\delivery_cost.csv')
change_cost=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\train\\changeover_cost.csv')
change_days=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\train\\changeover_days.csv')
production_capacity=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\train\\production_capacity.csv')
production_cost=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\train\\production_cost.csv')

In [11]:
# Import Test Files
forecast=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\sample\\demand_forecast.csv')
shipping=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\sample\\shipping_region.csv')
sequence=pd.read_csv('C:\\Users\\tidyq\\Documents\\AV\\sample\\manufacture_sequence.csv')

In [49]:
len(forecast2.Demand[forecast2.Demand>0])

172

In [46]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4374 entries, 0 to 4373
Data columns (total 4 columns):
Product_ID    4374 non-null object
Region        4374 non-null object
Month         4374 non-null int64
Demand        4374 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 136.8+ KB

In [48]:
forecast2=forecast[forecast.Demand>0]
forecast2=forecast2[forecast2.Month==37]
forecast2=forecast2.sort_values(['Demand'],ascending=False)
forecast2.head()

     Product_ID Region  Month       Demand
1788         P4    R11     37  7506.839443
1932        P41     R6     37  1760.816935
816         P23    R11     37  1367.273200
1518        P35    R11     37  1117.355479
1878        P40     R6     37   804.489590

In [39]:
len(demand_price[demand_price.Demand_price>0])

156

In [60]:
days=pd.DataFrame({'Plant':['A','A','B','B','B','C'],'Line':[1,2,1,2,3,1],'Month':[37,37,37,37,37,37],'Days':[0,0,0,0,0,0],'Last_Product':['','','','','',''],'NOP':[0,0,0,0,0,0],'All_Products':['','','','','','']})
days

  All_Products  Days Last_Product  Line  Month  NOP Plant
0                  0                  1     37    0     A
1                  0                  2     37    0     A
2                  0                  1     37    0     B
3                  0                  2     37    0     B
4                  0                  3     37    0     B
5                  0                  1     37    0     C

In [ ]:
#A function to return the plants where product is produced along with all the details

In [58]:
#For each iteration try to produce 65% demand.
#Use above function to get all the relevant info about the shipping plant
#Figure out the plants where product can be prepared and sort them on the basis of delivery cost,production cost,fixed cost.
#Now for each plant check what was the last produced product, and add changeover days and its cost in the relevant variables.
#Again sort them on the basis of the cost.
#Now add the days=Changeover days(Extracted using last product produced) + Demand/Capacity(If this exceeds 14 add 1)
#Now add the supply from the plant in the shipping file.
for i in range(172):
    dem=forecast2.Demand.iloc[i]*65
    ship=shipping[]

7506.83944341
1760.81693469
1367.27319983
1117.35547873
804.489589903
722.766408236
667.933072952
482.056153633
411.546634203
409.149490881
353.856591938
310.328439145
281.849444524
238.406512812
237.218208449
231.933867578
229.027698632
212.352493264
167.465042698
158.046360613
156.709877811
155.853656264
153.338188092
152.324735422
144.935067805
141.71533713
130.002123205
128.315378841
123.366331787
120.799115473
120.311167711
116.183389211
112.530820483
111.701109863
111.22085912
103.739936153
103.044256849
102.968775734
96.973107784
96.9503725307
94.3236878644
82.1652584343
68.7234898791
67.487052169
67.039500875
66.5586668633
65.0541392406
64.7213552471
63.6267633622
59.8390385377
59.0419881799
57.4190477844
56.8941883479
56.7115680628
54.977891628
54.4456460373
53.8907211616
52.0062461976
50.7039516595
50.672350057
49.2005986562
49.1385766818
48.0574428001
47.301123061
45.440097417
43.3192075361
43.2911689069
42.9246122547
42.3257631441
40.6057410498
39.4993468326
39.0296747805
37.834856114
37.6196817136
37.3366127319
36.8997545076
36.4483756512
35.8263736849
35.5275184557
34.1786547763
33.8379495527
33.5117112536
33.4764864737
33.337372432
32.9994514232
32.7821240314
32.5714742897
32.3602203355
31.4571702291
29.3794484686
29.2993954113
28.8814133129
27.2401875
27.1389796447
26.5802174698
26.3639121569
25.8422126082
22.8549627688
22.5831349008
21.2982332449
21.1556960521
20.7511112825
20.0050607522
18.5680029636
18.2960825541
17.7006265061
17.2755893795
17.2354017496
17.1957304265
16.9304619616
16.2515528012
16.1634045455
15.8036064881
15.7436443362
15.1803394236
15.0248298854
14.7138570506
14.5532251346
13.9600456571
13.8444271447
12.7294673914
12.4774202579
12.4090879076
11.6397213391
10.413821131
10.349832226
10.0969368741
9.69181503427
9.47314731782
9.45963074204
8.98983516414
8.63840701479
8.51394146825
8.50235909549
8.43284786977
7.46217498279
6.87594941919
6.71019754581
6.49310600705
6.11051467382
6.00189762559
5.89183144841
5.85049892857
5.53353168942
5.3928590534
5.25412033369
5.15863917321
5.1224202248
5.0300630754
5.02871221351
4.97846755952
4.70863939507
4.46883212686
4.2887002393
4.17543720779
4.14389264717
3.64523517316
3.48366184998
3.35287270743
2.88852880231
2.79570073607
1.76455218795
1.74386507937
1.49813375902
1.01597782828
0.548703525641
0.03385
0.03385
0.03385
0.03385
0.03385
0.0185625

In [ ]:
#For sequencing file
#Use days dataframe for identify what products are needed to be produced in a plant